// Variables for theme colors and fonts
$primary-color: #5a42b9;
$secondary-color: #b6b1ea;
$background-color: #f7f7f7;
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Ranga', cursive;

// Reset default styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
